.container {
  /* border: 2px solid red; */
  background-color: white;
  display: flex;
  padding-bottom: 2rem;
  padding-left: 2rem;
  width: 30%;
}
.text {
  padding-left: 2rem;
}
img {
  border-radius: 50%;
}
